@model List<EmployeeUser>

<div class="container">
    <div class="row pt-4 pb-12">
        <div class="col-6">
            <h1 class="text-white fw-bold">Employee List</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-success" id="register" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-plus-circle-fill"></i>New
            </a>
        </div>
    </div>

    <form method="get" asp-action="Index">
        <div>
            <span>
                Search:
                <input type="text" name="name" class="form-control" />
            </span>
            <br />
            <span>
                Filter by Status:
                <select name="status" class="form-control">
                    <option value="">Select</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                    <option value="Terminated">Terminated</option>
                </select>
            </span>
            <br />
            <button type="submit" class="btn btn-success">Filter</button>
        </div>
    </form>

    <table class="table table-bordered ">
        <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Status</th>
            <th>Marital Status</th>
            <th>Employment Type</th>
            <th></th>
        </tr>
        <tbody>
            @{
                int sn = 1;
            }
            @foreach (var obj in Model)
            {
                <tr>
                    <th>@sn</th>
                    <th>@obj.Name</th>
                    <th>@obj.designation?.Name</th>
                    <th>@obj.Status</th>
                    <th>@obj.MaritalStatus</th>
                    <th>@obj.Type</th>
                    <th>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-secondary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Employee" asp-action="Status" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Change Status
                            </a>
                        </div>
                    </th>
                </tr>
                sn++;
            }
        </tbody>
    </table>
</div>
